.app {
  text-align: center;
  width: 100vw;
  height: 100vh;
  border: 5px red;
  background-color: aqua;
}

.user-input {
  display: block;
  margin: 0 auto;
  background-color: red;
}

.blue {
  color: blue;
}
